body {
    /* background-image: url("anasayfa/img/bg.jpg"); */
    background-repeat: no-repeat;
    background-color: rgb(250 250 250);
}
header{
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(135, 198, 214, 0.685) 100%);
    width: 100%;
    height: 10%;
    padding: 0.2% 0.3%;
    box-sizing: border-box;
    border-bottom:solid;
    border-color: rgb(69, 115, 153);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.logo{
    font-size: 2.5rem;
    margin-left: 3px;
}


.container1{
    width: 100%;
    height: 90%;
}
.icerikler{
    width: auto;
    box-sizing: border-box;
    height: 100%;
}
.icerik{
    /* background-image: url(../anasayfa/img/bg.jpg); */
    background-color:  rgb(250 250 250);
    float: left;
    width: 70%;
    height: 100%;
    padding: 5% 5%;
    box-sizing: border-box;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  */
   

}
.duyuru{
    width: 20%;
    padding: 1.5% 1.5%;
    /* height: 100%; */
    float: right;
    padding-top: 5px;
    border-width: 5px;
    background-color: #73A9AD;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}
.gönderi{
  background-color: rgba(73, 136, 219, 0.418);
  width: 50%;
  height: 100%;
}
.baslik{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(213, 219, 224);
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}
.duyuru-icerik{
    /* background-color: #00a3eb; */
    padding-left: 4%;
    padding-bottom: 5%;
    padding-top: 3%;
    border-radius: 15px;
    /* border:outset; */
    margin-bottom: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  */
}
.d-icerik{
    background-color: rgb(243, 244, 245);
    padding-left: 1.5%;
    padding-bottom: 5%;
    padding-top: 3%;
    width: 90%;
    border-radius: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.duyuru-baslik{
    font-size: 20px;
   
    font-weight: bold;
}
.nav-link:hover{
    font-weight: bold;
    margin-left: 10px;
    transition: 0.1s;
}
.icerik-container{
    padding: 5%;
}
.dyr{
    display: none;
}
nav{
    background: #055c83;
}

.progress {
    background: #73A9AD;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 90%;
  }
  .progressbar{
    margin-top: 30px;
  }
  
  .dal{
    color: #000;
  }
  .stajyer-adi{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    -webkit-text-fill-color: black;
  }

  .ogrendigi-uyg
  {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    -webkit-text-fill-color: black;
  }

  

  .item
  {
    width: 900px;
    background-color: rgb(250 250 250);
    margin: 20px;
    color: #fff;
    font-size: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .kutu
  {
    background-color: #e1e4e6; 
    margin: 3px;
    color: #fff;
    font-size: 5px;
  }    

    

  
  .progress-value {
    animation: load 1.5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  
  @keyframes load {
    0% { width: 0; }
    100% { width: 50%; }
  }
/* Telefon Ekran*/
@media(max-width: 1000px) {
    .duyuru{
        display: none;
    }
    .icerik{
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .progress{
        width: 95%;
    }

    .icerikler{
        margin-left: 0px;
    }
    .gönderi{
        top:auto;
        left: auto;
        width: 100%;
        height: 100%;
    }
    .dyr{
        display:block;
    }
    }